<mat-card>
  <mat-card-title>SHIPPING</mat-card-title>
<mat-card-content>
  <form>
    <table>
        <tr>
            <td>
                <mat-form-field class="demo-full-width">
                    <input matInput id="firstName" placeholder="First Name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="demo-full-width">
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="demo-full-width">
                    <input matInput placeholder="Country/Origin" >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="triple-width">
                  <input matInput placeholder="Address">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="triple-width">
                  <input matInput placeholder="Apartment, suite, etc. (optional)">
                </mat-form-field>
            </td>
        </tr>
        <tr>
          <td>
              <mat-form-field class="triple-width">
                <mat-select placeholder="State">
                  <mat-option value="1">Ohio</mat-option>
                  <mat-option value="2">Kentucky</mat-option>
                  <mat-option value="3">Indiana</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <td colspan="2">
            <mat-form-field class="triple-width">
              <input matInput placeholder="Phone">
            </mat-form-field>
          </td>
      </tr>
        <tr>
            <td>
                <mat-form-field class="triple-width">
                  <input matInput placeholder="City">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="triple-width">
                  <input matInput placeholder="ZIP code">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-stroked-button color="primary" routerLink="/cart">Return to cart</button>
            </td>
            <td class="content-right">
                <button mat-raised-button color="accent" routerLink="/payment-info">Continue to payment</button>
            </td>
        </tr>
    </table>
  </form>
</mat-card-content>
</mat-card>
