<mat-card class="container">
  <mat-card-content>
    <form class="people">
      <table>
          <tr>
              <td >
                <mat-card class="item-card">
                      <img mat-card-image src="/assets/Zaid.jpeg" alt="Zaid Badiger">
                      <mat-card-content>
                        <p class="item-title">Zaid Badiger</p>
                        <p class="role">Software Developer</p>
                        <button mat-stroked-button onclick="location.href='mailto:badiger.2@osu.edu';" class="email-button">Email</button>
                  </mat-card-content>
                </mat-card>
              </td>
              <td >
                <mat-card class="item-card">
                      <img mat-card-image src="/assets/John.png" alt="John Bardo">
                      <mat-card-content>
                        <p class="item-title">John Bardo</p>
                        <p class="role">Software Developer</p>
                        <button mat-stroked-button onclick="location.href='mailto:bardo.7@osu.edu';" class="email-button">Email</button>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
            <tr>
              <td>
                <mat-card class="item-card">
                      <img mat-card-image src="/assets/Malik.png" alt="Malik Clarke">
                      <mat-card-content>
                        <p class="item-title">Malik Clarke</p>
                        <p class="role">Software Developer</p>
                        <button mat-stroked-button onclick="location.href='mailto:clarke.349@osu.edu';" class="email-button">Email</button>
                  </mat-card-content>
                </mat-card>
              </td>
              <td >
                <mat-card class="item-card">
                      <img mat-card-image src="/assets/Jacob.png" alt="Jacob Whitley">
                      <mat-card-content>
                        <p class="item-title">Jacob Whitley</p>
                        <p class="role">Software Developer</p>
                        <button mat-stroked-button onclick="location.href='mailto:whitley.52@osu.edu';" class="email-button">Email</button>
                  </mat-card-content>
                </mat-card>
              </td>
          </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
