:host {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.mat-form-field {
  width: 100%;
  max-width: 250px;
  padding: 5px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.confirm-button {
  margin: 10px;
  margin-left: 20px;
}

.error {
  color: red;
}
