<mat-card>
  <mat-card-title>Payment Details</mat-card-title>
  <mat-card-content>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

      <table>
        <tr>
            <td>

              <mat-form-field class="inputs">
                <input matInput placeholder="Card Holder">
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="inputs">
                <input matInput id="cardNumber" formControlName="cardNumber" placeholder="Card Number">
              </mat-form-field>
            </td>
            </tr>
            <tr>
            <td>
              <mat-form-field class="inputs">
                <input matInput placeholder="Expiration Date">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="inputs">
                <input matInput placeholder="CVV">
              </mat-form-field>
            </td>
        </tr>
      </table>

        <button mat-raised-button color="accent" routerLink="/confirmation" type="submit" class="confirm-button">Confirm Purchase</button>
    </form>
  </mat-card-content>
</mat-card>

