<!DOCTYPE html>
<html lang = "en">
	<head>
		<script src = "js/angular.js"></script>
		<script src = "js/app.js"></script>
		<meta charset = "UTF-8" name = "viewport" content = "width=device-width, initial-scale=1" />
	</head>
<body>
	<div class = "col-md-2"></div>
	<div class = "col-md-8 well">
		<button class = "text-primary">Proceed to Checkout</button>
		<hr style = "border-top:1px dotted #ccc;"/>
		<!-- <div id = "bg-background" class = "col-md-7">
			<h4>PRODUCTS<h4>
			<hr style = "border-top:1px groovy #ccc;">
			<div id = "product">
				<div id = "p_list" ng-repeat = "product in products ">
					<h5>{{product.p_name}}</h5>
					<center><img ng-src = "{{product.p_image}}"/></center>
					<div><label>Price: ₱{{product.p_price}}</label></div>
					<center><button type = "button" ng-click = "add_cart(product)"><span class = "glyphicon glyphicon-shopping-cart"></span> Add to cart</button></center>
				</div>
			</div>
		</div> -->
		<div class = "pull-right col-md-5">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h5>MY CART</h5>
				</div>
				<div class = "panel-body table-responsive">
					<table class = "table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor = "let cart_item of cart.cartItems">
								<td>{{cart_item.name}}</td>
								<td>{{cart_item.unitCost}}</td>
                <td>{{cart_item.quantity}}</td>
								<td>{{cart_item.unitCost * cart_item.quantity}}</td>
							</tr>
							<tr>
								<td align = "right">Total</td>
								<td>{{cart.totalCartCost}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
