<mat-toolbar color="primary">
  <div class="nav-name">
  <a routerLink=""><mat-icon>drag_indicator</mat-icon><b>ClothingFly</b></a>
  </div>
  <div class="nav-buttons">
    <a mat-stroked-button color="primary" routerLink="/cart"><mat-icon>card_travel</mat-icon>
      {{cart.itemCount}}
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
<a routerLink="contact-us">Contact us</a>
<a routerLink="about-us">About us</a>
<a href="#">Refund policy</a>
<a href="#">Shipping policy</a>
<a href="#">Privacy policy</a>
<a href="#">Terms of service</a>
<a href="#">Legal notice</a>
</div>
