<mat-card>
  <mat-card-title>CONFIRMATION</mat-card-title>
<mat-card-content>
  <form>
    <div *ngIf="cart && cart.items.length == 0" class="empty">
      <p><b>Cart is empty!</b></p>
      <button mat-raised-button color="accent" routerLink="/" class="return">Return to catalog</button>
    </div>

    <div *ngIf="cart && cart.items.length > 0" class="container">
      <ul>
          <li *ngFor="let cartItem of cart.items">
              <div>
                  <img [src]="cartItem.item.imageUrl" [alt]="cartItem.item.name">
              </div>
              <div>
                  <p>{{cartItem.item.name}}</p>
              </div>
              <div>
                  {{cartItem.price|currency}}
              </div>
          </li>
      </ul>

      <div class="checkout">
          <div>
              <div class="items-count">{{cart.itemCount}}</div>
              <div class="subtotal">{{cart.totalPrice|currency}}</div>
              <div class="tax">{{((cart.totalPrice * 1.07) - cart.totalPrice)|currency}}</div>
              <div class="shipping">$15</div>
              <div class="total-price">{{(cart.totalPrice * 1.07 + 15)|currency}}</div>
              <td class="content-right">
                <button mat-raised-button color="accent" routerLink="/shipping">Checkout</button>
              </td>
          </div>
      </div>

    </div>
    <table>
      <tr>
          <td>
            <mat-form-field class="inputs">
              <input matInput placeholder="Order Number:" value ="0984-1432-9120" readonly />
            </mat-form-field>
          </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="inputs">
            <input matInput placeholder="Ship to:" [value]="address" readonly />
          </mat-form-field>
        </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="inputs">
          <input matInput placeholder="Payment by:" [value]="cardHolder" readonly />
        </mat-form-field>
      </td>
    </tr>
      <tr>
          <td>
            <mat-form-field class="inputs">
              <input matInput placeholder="Shipping:" value="$15" readonly />
            </mat-form-field>
          </td>
          </tr>
          <tr>
          <td>
            <mat-form-field class="inputs">
              <input matInput placeholder="Total Items:" [value]="cart.itemCount" readonly />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="inputs">
              <input matInput placeholder="Order Total:" [value]="(cart.totalPrice * 1.07 + 15)|currency" readonly />
            </mat-form-field>
          </td>
      </tr>
    </table>
    <button mat-raised-button color="accent" routerLink="/catalog" type="submit" class="confirm-button">Return to catalog</button>
  </form>
</mat-card-content>
</mat-card>
