.item-card {
  max-width: 250px;
  margin: 10px;
}

img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}


.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  align-content: center;
  margin-top: 30px;
  max-width: 1000px;
  margin-bottom: 50px;
}

.wrapper {
  margin-left: 30px;
  flex: auto;
}

.add-cart-button {
  float: right;
}

.price {
  padding-top: 10px;
  display: inline-block;

}

.item-title {
  font-size: 22px;
  text-align: center;
}
