.item-card {
  margin: 10px;
}

img {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

tr {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 2;
}

.catalog {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  max-width: 1665px;
  margin-bottom: 50px;
}

.add-cart-button {
  float: right;
}

.price {
  padding-top: 10px;
  display: inline-block;

}

.item-title {
  font-size: 22px;
  text-align: center;
}
