<div class="homepage">
  <div class="header">
    <div class="inner-text">
      <div class="innermost">
        <h2>Timeless, Bold, and Fashionable</h2>
        <h1>More Arrivals Soon</h1>

      </div>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/catalog">SHOP NOW</button>
      </div>
    </div>
  </div>
</div>

<h2>Our Mission</h2>
<p>Our mission is to bring you all the most fashionable and up to date clothing at an affordable price.</p>
<h3>Business Strategy</h3>
<p>Appeal to everyone. We have clothes for men of all shapes and sizes, of all forms of life.</p>
<h3>A Message to Our Lovely Customers</h3>
<p>Buy from us and you will not be disappointed.</p>
